.chartbox
{
	position:relative;

	width:800px;
	min-height:100px;
	margin:0px auto 20px;

	border:1px solid #c6d8f2;

	background-Color:#EDF3FA;
	Float:left;
}
.chart
{
	width:750px;
	height:500px;
	margin:20px auto 20px;

	border:1px solid #c6d8f2;

	background-Color:#fff;
}
.chartinfo
{
	margin: 5px 30px;

	text-align: center;

	font-size:15px;
}
.chartbutton
{
	float:left;

	width: 120px;
	height: 30px;
	margin: 2px 2px 5px 5px;

	color: white;
	background-color: #5DC4EE;

	font-size: 15px;

}
